In [48]:
import numpy as np
import pandas as pd

In [49]:
datas = {'Gender':['Men','Men','Female','Men','Female','Female','Men'],
         'Age':['Young','Old','Old','Teen','Young','Old','Teen'],
        'default':['Yes','Yes','Yes','No','No','No','No']}

In [50]:
df = pd.DataFrame(data=datas)

In [51]:
df

   Gender    Age default
0     Men  Young     Yes
1     Men    Old     Yes
2  Female    Old     Yes
3     Men   Teen      No
4  Female  Young      No
5  Female    Old      No
6     Men   Teen      No

In [52]:
df['default'].value_counts()

No     4
Yes    3
Name: default, dtype: int64

In [53]:
No_counts = df['default'].value_counts()[0]
Yes_counts = df['default'].value_counts()[1]

# Lets, say we want to know , if the creditor that is young and men is more likely to default or not.

# Probability of yes and no in total

In [87]:
P_yes = Yes_counts/(Yes_counts+No_counts)

In [88]:
P_no = No_counts/(Yes_counts+No_counts)

# Column_1 Men

In [66]:
Men_yes= df.loc[(df['default']=='Yes')&(df['Gender']=='Men')].value_counts().sum()

In [70]:
P_Men_yes = Men_yes/Yes_counts

In [71]:
Men_no = df.loc[(df['default']=='No')&(df['Gender']=='Men')].value_counts().sum()

In [73]:
P_Men_no = Men_no/No_counts

# Column_2 Age

In [79]:
Young_yes = df.loc[(df['default']=='Yes')&(df['Age']=='Young')].value_counts().sum()

In [80]:
P_Young_yes = Young_yes/Yes_counts

In [81]:
Young_no = df.loc[(df['default']=='No')&(df['Age']=='Young')].value_counts().sum()

In [84]:
P_Young_no = Young_no/No_counts

# Result

we compare the result between total_yes and total_no.

In [90]:
total_yes = P_yes*P_Young_yes*P_Men_yes

In [92]:
total_no = P_no*P_Young_no*P_Men_no

In [93]:
total_yes

0.09523809523809523

In [94]:
total_no

0.07142857142857142

so, since total_yes is higher that mean the person that is men and young is more likely to default .

one of the problem with naive bayes is if one of our Probability Ex:P_young_no is 0 , it would lead the total_no to became 0.
    and this will distort the result. to tackle this problem we to use laplacian correction if one of our probabilities is 0.